.about {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    flex-direction: column;
    height: 200px; 
}

.about h1 {
    margin: 0;
}

.hammock-img { 
    width: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    border-radius: 20px;
}

.blurb { 
    display: flex; 
    background-color: #FFE797;  
    height: 100px; 
    text-align: center; 
    justify-content: center; 
    margin: 0; 
}

.blurb p {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.images { 
    display: flex; 
    flex-direction: column;
    gap: 20px; 
    margin: 30px; 
}

.wrapper { 
    display: flex; 
    align-items: center; 
}

.one, .three { 
    justify-content: flex-start; 
}

.two { 
    justify-content: flex-end; 
}

.stacked-img, .exchange-img, .read-img { 
    height: auto; 
    width: 30%;
    margin: 20px; 
    border-radius: 20px; 
}

.words { 
    text-align: center; 
}

.paragraph { 
    background-color: #84994F; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.aboutpara { 
    width: 500px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    text-align: justify;
}

