.home1 { 
    display: flex; 
    margin-top: 20px; 
}
.lnk {
	outline: 0;
	color: black;
	text-decoration: none;

}

.about-banner{
	color: white;
	background-color: black;
	margin-bottom: 15px;
}

.collection{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgb(205, 157, 101);
}
.books-container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 80vw;
	height: 35vh;
	margin: 20px;
	overflow: auto;
	gap: 20px;
	background-color: #cd9d65;

}

.collections-page-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collections-page-list-container ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
    width: 500px;
    max-width: 80vw;
}

.collections-page-list-container p, .collections-page-list-container h2 {
    text-align: left;
}
