.window { 
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 40vh; 
  width: 60vh;
  background-color: #FFE797;
}

.overlay { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: 70%;
  width: 70%;
  background-color: white; 
  border-radius: 20px; 
  border: 2px black solid; 
}

.close { 
  position: fixed; 
  top: 0; 
  left: 0;
}

.content { 
  display: flex; 
  flex-direction: column;   
}

.title {
  text-align: center;
}

label, #email, #password { 
  margin-left: 50px; 
  width: 70%; 
  margin-bottom: 5px;
  border-color: black; 
  border-width: 1px;
  height: 20px; 
}

.submit { 
  width: 20%;
  background-color: black; 
  color: white; 
  margin-top: 5px; 
  margin-left: 280px; 
  height: 25px; 
}


label, #firstName, #lastName, #address, #address1{ 
  margin-left: 50px; 
  width: 70%; 
  margin-bottom: 5px;
  border-color: black; 
  border-width: 1px;
  height: 20px; 
}

.profileImage { 
  margin-top: 10px;
  margin-left: 160px;
  width: 10%;
  height: 10%; 
}

.profileButton { 
  width: 40%;
  background-color: #FCB53B; 
  color: black; 
  margin-top: 5px; 
  margin-left: 100px; 
  margin-bottom: 20px;
  height: 35px; 
}





