.window { 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 80vh; 
  width: 50vh;
  background-color: #FFE797;
}

.overlay { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: 80%;
  width: 90%;
  background-color: white; 
  border-radius: 20px; 
  border: 2px black solid; 
}

.close { 
    top: 0; 
    left: 0;
}

.content { 
  display: flex; 
  flex-direction: column;   
}

.title {
  text-align: center;
}

label, #email, #password, #username, #city, #country{ 
  margin-left: 20px; 
  width: 80%; 
  margin-bottom: 5px;
  border-color: black; 
  border-width: 1px;
  height: 20px; 
}

.submit { 
  width: 28%;
  background-color: black; 
  color: white; 
  margin-top: 10%; 
  margin-left: 20px; 
  height: 25px; 
  text-align: center;
  justify-content: center;
}

.profileImage { 
  margin-top: 10px;
  margin-left: 160px;
  width: 10%;
  height: 10%; 
}
input, select{
	width: 90%;
	margin-left: 20px;
}
.profileButton { 
  width: 40%;
  background-color: #FCB53B; 
  color: black; 
  margin-top: 5px; 
  margin-left: 100px; 
  margin-bottom: 20px;
  height: 35px; 
}
.errorMsg{
	font-size: 60%;
	 color: red;
	 margin-left: 20px;
}

