.user-banner{
	background-color: #FFE797;
	text-align: center;
	height: 50vh;
	display: block;
	align-items: center;
	border-radius: 20px;
	border: 3px black solid;
	margin-top: 1%;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: auto;
}
.sect{
	height: 50vh;
}

