
/* logo styling */
.logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img{
  width: 80px;
  height: auto;
  object-fit: contain;
}

/* Navbar styling */
.main-nav ul {
    list-style-type: none; /*no bullets*/
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.main-nav a {
    text-decoration: none;
    color: #383333;
    font-weight: bold;
}

.main-nav a:hover {
    color: #ff7b00;
}

