@media only screen and (max-width: 800px) {
	.title{
		font-size: 0;
	}
	
	.header-right{
		flex-direction: row;
		justify-content: flex-end;
		flex-wrap: wrap;
		margin: 0px;
		padding: 0px;
	}
	.items{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		max-width: 50vw;
	}
	
}
.items li{
	font-style: bold;
	text-transform: uppercase;
}

/* logo styling */
.logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img{
  width: 80px;
  height: auto;
  object-fit: contain;
}

/* Navbar styling */
.main-nav ul {
    list-style-type: none; /*no bullets*/
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.main-nav a {
    text-decoration: none;
    color: #383333;
    font-weight: bold;
}

.main-nav a:hover {
    color: #ff7b00;
}


/* Header styling */
.site-header {
    display: flex;
    justify-content: space-between; /*pushes logo left, nav right*/
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

/* right side of Header (nav and searchBar)*/

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*SearchBar styling*/
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px 15px;
    width: 20vw;
}
/*making input box invisible so wrapper looks like a search bar*/
.search-input {
    padding: 5px;
    border: none;
    overflow: hidden;
    outline: none;
    flex: 1; /*takes up remaining space*/
    font-size: 14px;

}

.search-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

/*image sizing of search icon*/
.search-icon {
    width: 16px;
    height: 16px;
    opacity: 0.5;
}

.search-button:hover .search-icon {
    opacity: 1;
}

